
@{
    ViewBag.Title = "File Upload";
}

<h2>File Upload</h2>
<h5>...</h5>

<form method="POST" enctype="multipart/form-data">
    <div>
        <input type="file" id="file" name="file" />
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>

